.sign-up {
    display: flex; 
    flex-direction: column; 
    width: 380px;

    .sign-up-form {
        display: block;
        flex-direction: column;
    }

    .title {
        margin: 10px 0px;
    }
}

