.sign-up {
    display: flex; 
    flex-direction: column; 
    width: 380px; 

    @media screen and (max-width: 768px) {
        .sign-up {
            display: flex;
            flex-direction: row;
            width: 100px;
        }
    }
    .title {
        margin: 10px 0px; 
    }
}